{{extend 'layout.html'}}
<section class="content">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Receipt Voucher Transaction Draft Grid</h3>
            </div>
            <div class="box-body table-responsive">                
                {{=LOAD('settings','load_receipt_voucher_request.load')}}
                {{=LOAD('settings','load_receipt_voucher_header.load')}}
                {{=LOAD('settings','load_receipt_voucher_confirmation.load')}}
            </div>
        </div>
    </div>
</section>             


<script>
    $(document).ready(function(){
        $(".table").DataTable();
    })
    function onClear(){        
        window.location.replace('{{=URL('settings','get_bank_master_grid')}}'); 
    }
</script>