{{extend 'layout.html'}}
<section class="content">
    <div class="row">
        <div class="col-xs-9">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Consolidated {{=title}} Transactions Grid</h3>
                </div>
                <div class="box-body">                    
                    {{=LOAD('consolidated','load_consolidated_transactions_grid.load', args = request.args(0), ajax=True, extension=False, target = "CONtbl")}}
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="box box-danger">
                <div class="box-header with-border"><h3 class="box-title">{{=title}} Form</h3></div>            
                {{=form.custom.begin}}
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label">Select Deparment</label>
                        {{=form.custom.widget.dept_code_id}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Year</label>
                        {{=form.custom.widget.year}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Month</label>
                        {{=form.custom.widget.month}}
                    </div>
                    <input type="button" id = "btnSubmit" class="btn btn-primary btn-block btn-flat" onclick="FuncSubmit()" value="Submit">
                </div>
                {{=form.custom.end}}
            </div>
        </div>
    </div>
</section>             
<script>
    $(document).ready(function(){        
        $("#btnSubmit").attr("disabled", "disabled")
        $("#no_table_dept_code_id, #no_table_year, #no_table_month").change(function(){
            $("#btnSubmit").attr("disabled", "disabled")
            if ($("#no_table_dept_code_id").val() != 0 && $("#no_table_year").val() != 0 && $("#no_table_month").val() != 0) {
                $("#btnSubmit").removeAttr("disabled")
            } 
        });
    })

    function FuncSubmit(){
        ajax("{{=URL('consolidated','patch_session_consolidated', args = request.args(0))}}",['dept_code_id','year','month'])
    }
</script>