{{extend 'layout.html'}}

<section class="content">
    <div class="callout callout-info">
        <h4>In progress...</h4>
        <p>under delopment and testing...</p>
    </div>
    <div class="progress progress-sm active">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
        <span class="sr-only">20% Complete</span>
        </div>
    </div>

    <div class="row">                
        <div class="col-md-9">
            {{=LOAD('workflow_payment_voucher','post_payment_voucher_root_transaction.load', args = request.args(0), ajax = True, extension = False, target = 'PVTtbl')}}
        </div>
        <div class="col-md-3">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Payment Voucher Form</h3>
                </div>
                <div class="box-body">
                    {{=form.custom.begin}}                   
                    <input id="ticket_no_id" name="ticket_no_id" type="text" value="{{=ticket_no_id}}" hidden>
                    <div class="form-group">
                        <label>Financial Year {{=request.now.year}}</label>
                    </div>          
                    <div id="payment_voucher_id">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">                              
                                    <label>Payment Voucher No</label>
                                    {{=form.custom.widget.payment_voucher_no}}    
                                </div>                  
                                <div class="col-lg-6">      
                                    <label>Date</label>
                                    {{if request.args(0):}}
                                        <input class="form-control" id="Account_Voucher_Request_payment_voucher_date" name="payment_voucher_date" type="date" value="{{=_id.payment_voucher_date}}">
                                    {{else:}}
                                        <input class="form-control" id="Account_Voucher_Request_payment_voucher_date" name="payment_voucher_date" type="date" value="{{=request.now.date()}}">
                                    {{pass}}                                
                                </div>                  
                            </div>                    
                        </div>
                        <br/>
                    </div>                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">                              
                                <label>Transaction No</label>
                                {{=form.custom.widget.payment_voucher_request_no}}    
                            </div>                  
                            <div class="col-lg-6">      
                                <label>Date</label>
                                {{if request.args(0):}}
                                    <input class="form-control" id="Account_Voucher_Request_transaction_reference_date" name="transaction_reference_date" type="date" value="{{=_id.transaction_reference_date}}">
                                {{else:}}
                                    <input class="form-control" id="Account_Voucher_Request_transaction_reference_date" name="transaction_reference_date" type="date" value="{{=request.now.date()}}">
                                {{pass}}
                            </div>                  
                        </div>
                    </div>
                    </br>
                    <div class="form-group">
                        <label>Account Payment Mode</label>
                        {{=form.custom.widget.account_payment_mode_id}}    
                    </div>         
                    <div class="form-group">
                        <label>Payee</label>
                        {{=form.custom.widget.payee}}    
                    </div>         
                    <div class="form-group">
                        <label>Bank Name</label>
                        {{=form.custom.widget.bank_name_id}}    
                    </div>                         

                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-5">
                                <label>Account Code</label>
                                {{=form.custom.widget.account_code}}        
                            </div>
                            <div class="col-lg-7">
                                <label>Account Name</label>
                                {{if request.args(0):}}
                                    <input class="form-control" id="account_name" name="account_name" type="text" value="{{=_id.bank_name_id.bank_name}}">
                                {{else:}}
                                    <input class="form-control" id="account_name" name="account_name" type="text">
                                {{pass}}
                            </div>
                        </div>                             
                    </div> 
                    </br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label>Cheque No</label>
                                {{=form.custom.widget.cheque_no}}        
                            </div>
                            <div class="col-lg-6">
                                <label>Cheque Dated</label>
                                {{if request.args(0):}}
                                    <input class="form-control" id="Account_Voucher_Request_cheque_dated" name="cheque_dated" type="date" value="{{=_id.cheque_dated}}">
                                {{else:}}
                                    <input class="form-control" id="Account_Voucher_Request_cheque_dated" name="cheque_dated" type="date" value="{{=request.now.date()}}">
                                {{pass}}
                            </div>
                        </div>                             
                    </div> 
                    </br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label>Custom Invoice #</label>
                                {{=form.custom.widget.custom_invoice_no}}        
                            </div>
                            <div class="col-lg-6">
                                <label>Custom Declaration #</label>
                                {{=form.custom.widget.custom_declaration_no}}            
                            </div>
                        </div>                             
                    </div> 
                    </br>
                    <div class="form-group">
                        <label>Manual PV #</label>
                        {{=form.custom.widget.manual_pv_no}}    
                    </div>                                              
                    <div class="form-group">
                        <label>Status</label>
                        {{=form.custom.widget.status_id}}    
                    </div>      
                    <div class="form-group">
                        <label>Remarks</label>
                        {{=form.custom.widget.remarks}}    
                    </div>                                                                  
                    {{if request.args(0):}} 
                        <input class="btn btn-block btn-primary btn-flat" type="submit" value="Save & Submit" id="btnSaveSubmit">
                        {{if _id.status_id==12:}}
                            <input class="btn btn-block btn-success btn-flat" type="button" value="Approved" onclick="Account_Manager_Function(1)">
                            <input class="btn btn-block btn-warning btn-flat" type="button" value="Reject" onclick="Account_Manager_Function(2)">
                        {{elif _id.status_id==13:}}
                            <input class="btn btn-block btn-success btn-flat" type="button" value="Approved" onclick="Management_Function(1)">
                            <input class="btn btn-block btn-warning btn-flat" type="button" value="Reject" onclick="Management_Function(2)">
                        {{pass}}
                    {{elif not request.args(0):}}
                        <input class="btn btn-block btn-primary btn-flat" type="button" value="Submit" id="btnSubmit">
                    {{pass }}
                    
                    <input class="btn btn-block btn-danger btn-flat" type="button" value="Exit" id="btnExit" onclick="ExitFunc()">
                    {{=form.custom.end}}
                </div>
            </div>
        </div>
    </div>
</section>             

<script>

    $(document).ready(function(){
        $('#btnSubmit').attr('disabled','disabled');
        $("#payment_voucher_id").hide();
        {{if (request.args(0)) and (_id.payment_voucher_no):}}
            $("#payment_voucher_id").show();
        {{pass}}
        $("#btnSubmit").on('click', function(e){
            e.preventDefault();
            alertify.confirm("Save", "Do you want to proceed?", function(){
                if (e) {
                    $("#thisformid").submit();                    
                    ajax("{{=URL('workflow_payment_voucher','patch_payment_voucher_id',args = 3)}}",['ticket_no_id','payment_voucher_request_no','transaction_reference_date','account_payment_mode_id','payee','bank_name_id','cheque_no','cheque_dated','custom_invoice_no','custom_declaration_no','manual_pv_no','status_id','remarks']);
                    return true;
                } else {
                    alertify.error("cancel");
                    return false;
                }
            }, function (){
                alertify.error("Cancel!")
            });
        });

        $("#Payment_Voucher_Request_payment_voucher_request_no").prop('readonly', true);
        $("#Payment_Voucher_Request_account_code").prop('readonly', true);
        $("#account_name").prop('readonly', true);        
        $('#Payment_Voucher_Request_account_payment_mode_id option[value="1"]').attr("disabled", "disabled");
        $("#Payment_Voucher_Request_bank_name_id").change(function(){
            if ($("#Payment_Voucher_Request_bank_name_id").val() != "") {
                ajax("{{=URL('workflow_payment_voucher','patch_payment_voucher_id', args = 1)}}",['bank_name_id']);
            } else {
                $("#Payment_Voucher_Request_account_code,#account_name").val('');
            }
        });

        $("#Payment_Voucher_Request_account_payment_mode_id, #Payment_Voucher_Request_bank_name_id, #Payment_Voucher_Request_cheque_no, #Payment_Voucher_Request_status_id").change(function(){
            if (
                $("#Payment_Voucher_Request_account_payment_mode_id").val() != "" &&
                $("#Payment_Voucher_Request_bank_name_id").val() != "" &&
                $("#Payment_Voucher_Request_cheque_no").val() != "" &&
                $("#Account_Voucher_Request_cheque_dated").val() != "" &&
                $("#Payment_Voucher_Request_status_id").val() != ""
            ) {
                $('#btnSubmit').removeAttr('disabled');
            } else {
                $('#btnSubmit').attr('disabled','disabled');
            }
        });
        $("#Payment_Voucher_Request_custom_invoice_no").change(function(){
            ajax("{{=URL('workflow_payment_voucher','patch_payment_voucher_id', args = 6)}}",['custom_invoice_no']);
        });

    })

    function ApprovedFunc(){
        alertify.confirm('Receipt Voucher', 'Approved Receipt Voucher?', 
            function(){
                ajax("{{=URL('workflow_receipt_voucher','patch_receipt_voucher_approval_id', args = [2, request.args(0)])}}")
            }
            , function(){ alertify.error('Cancel')});
    }
    function RejectFunc(){
        alertify.confirm('Receipt Voucher', 'Reject Receipt Voucher?', 
            function(){ 
                ajax("{{=URL('workflow_receipt_voucher','patch_receipt_voucher_approval_id', args = [1, request.args(0)])}}")
             }
            , function(){ alertify.error('Cancel')});
    }

    function ExitFunc(){
        window.location.replace('{{=URL('workflow_payment_voucher','get_payment_voucher_grid')}}'); 
    }

    function Account_Manager_Function(x)
    {     
        ajax("{{=URL('workflow_payment_voucher','patch_payment_voucher_id', args = [4, request.args(0)])}}" + '/' + x,['remarks']);        
    }    

    function Management_Function(x)
    {     
        ajax("{{=URL('workflow_payment_voucher','patch_payment_voucher_id', args = [5, request.args(0)])}}" + '/' + x,['remarks']);        
    }    

</script>
