{{extend 'layout.html'}}

<section class="content">
    <div class="row"> 
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Journal Voucher General Ledger Posting Confirmation <small> Grid</small></h3>       
                    <div class="pull-right"><a href="#" id="btnRefresh" class="text-muted"><i class="fa fa-refresh"></i></a></div>              
                </div>
                <div class="box-body table-responsive">
                    {{=table}}
                </div>        
            </div> 
        </div>        
    </div>
</section>

    
<script>       
    $(document).ready(function(){
        $(".table").DataTable();
    });
</script>