{{extend 'layout.html'}}
<section class="content">
  <div class="row"> 
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border"><h3 class="box-title">Payment Voucher</h3></div>
        <div class="box-body">
          <div class="form-horizontal">          
            {{=form.custom.begin}}
            <div class="form-group">
              <label class="col-sm-2 control-label">Transaction Code</label>                            
              <div class="col-sm-2"><input class="form-control" id="account_transaction_code_id" name="account_transaction_code_id" type="text" value='account_transaction_code_id' readonly></div>                            
              <label class="col-sm-2 control-label">Reference No.</label>                            
              <div class="col-sm-2"><input class="form-control" id="reference_no" name="reference_no" type="text" value='reference_no' readonly></div>                            
              <label class="col-sm-2 control-label">Reference Date</label>
              <div class="col-sm-2"><input class="form-control" id="reference_date" name="reference_date" type="text" value={{=request.now.strftime('%Y-%m-%d')}} readonly></div>
            </div> 
            <div class="form-group">
              <label class="col-sm-2 control-label">account_payment_mode_id</label>                            
              <div class="col-sm-2"><input class="form-control" id="account_transaction_code_id" name="account_transaction_code_id" type="text" value='account_transaction_code_id' readonly></div>                            
              <label class="col-sm-2 control-label">total_amount</label>                            
              <div class="col-sm-2"><input class="form-control" id="reference_no" name="reference_no" type="text" value='reference_no' readonly></div>                            
              <label class="col-sm-2 control-label">account_code_id</label>
              <div class="col-sm-2"><input class="form-control" id="reference_date" name="reference_date" type="text" value={{=request.now.strftime('%Y-%m-%d')}} readonly></div>
            </div>      
            <div class="col-sm-10"></div>       
            
              <div class="btn-group">
                <input class="btn btn-default btn-flat" type="button" id="btnSubmit" value="Submit">
                <input class="btn btn-default btn-flat" type="button" id="btnProceed" value="Proceed">
                <input class="btn btn-default btn-flat" type="button" id="btnCancel" value="Cancel">
              </div>
            
            
              
            
            {{=form.custom.end}}
          </div>  
          <div class="box-header with-border"></div>
            {{=LOAD('account_transaction','load_payment_voucher_transaction_form.load', ajax = True)}}
        </div>        
      </div>            
    </div>
  </div>
</section>
<script>
  $(document).ready(function(){
    $("#btnSubmit").click(function(){
      console.log("Submit");
    });
    $("#btnProceed").click(function(){
      console.log("Proceed");
    });
    $("#btnCancel").click(function(){
      console.log("Cancel");
    });

  });
</script>